<p id="who">
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other researchers 
  who are interested in applying programming/data analysis techniques 
  to their research. 
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>

<p>
  Attendance is limit to students and staff from the University of 
  Dundee or the James Hutton Institute. In the unlikely event of 
  spare capacity we will consider attendees from other academic 
  institutions. Please contact the organisers <strong>before</strong>
  registering.
</p>
